[Unit]
Description=pmocr - monitors a local directory and gives any new file to your favorite OCR engine
After=local-fs.target
Requires=local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/pmocr.sh --service --config=/etc/pmocr/%i

[Install]
WantedBy=multi-user.target
